In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv(
        filepath_or_buffer = "../dataset/Dataset.csv",
        header = 11,
        skiprows = [12],
        index_col = False,
        low_memory = False)

In [4]:
dataset = dataset[["ID", "Trading date", "Trading time", "SecType", "Last"]]
dataset = dataset.rename(columns = {"Trading date" : "TradingDate", "Trading time" : "TradingTime"})

dataset

                 ID TradingDate   TradingTime SecType  Last
0           CBOT.FR  08-11-2021  00:00:00.000       E   0.0
1          LC1EP.FR         NaN  00:00:00.000       I   0.0
2          IEMIM.FR         NaN  00:00:00.000       I   0.0
3           I2GS.FR         NaN  00:00:00.000       I   0.0
4            QDT.FR  08-11-2021  00:00:00.000       E   0.0
...             ...         ...           ...     ...   ...
4113657     MLAA.FR  13-11-2021  00:00:00.000       E   0.0
4113658      NRP.NL  13-11-2021  00:00:00.000       E   0.0
4113659  A0HN5C.ETR         NaN  00:00:00.000       E   0.0
4113660  A2N9WV.ETR         NaN  00:00:00.000       E   0.0
4113661  A2ASZ7.ETR         NaN  00:00:00.000       E   0.0

[4113662 rows x 5 columns]

In [5]:
dataset = dataset[dataset["TradingTime"] != "00:00:00.000"]
dataset = dataset[dataset["TradingDate"].notnull()]
dataset

               ID TradingDate   TradingTime SecType    Last
76126    PROAC.FR  08-11-2021  09:00:00.178       E   0.158
76127    PROAC.FR  08-11-2021  09:00:00.178       E   0.158
76128    PROAC.FR  08-11-2021  09:00:00.178       E   0.158
76129      FPG.FR  08-11-2021  09:00:00.268       E   0.556
76310      ESI.FR  08-11-2021  09:00:00.448       E  70.000
...           ...         ...           ...     ...     ...
4070173   INEA.FR  12-11-2021  17:36:31.669       E  45.000
4070454     LI.FR  12-11-2021  17:36:47.576       E  21.380
4070735     LI.FR  12-11-2021  17:37:04.985       E  21.380
4070736     LI.FR  12-11-2021  17:37:04.985       E  21.380
4070737     LI.FR  12-11-2021  17:37:04.985       E  21.380

[625281 rows x 5 columns]

In [ ]:
dropedDataset = dataset.drop_duplicates()
dropedDataset

               ID TradingDate   TradingTime SecType    Last
76126    PROAC.FR  08-11-2021  09:00:00.178       E   0.158
76129      FPG.FR  08-11-2021  09:00:00.268       E   0.556
76310      ESI.FR  08-11-2021  09:00:00.448       E  70.000
76314      ETL.FR  08-11-2021  09:00:00.909       E  12.675
76322      POM.FR  08-11-2021  09:00:00.920       E  23.800
...           ...         ...           ...     ...     ...
4068747    BLC.FR  12-11-2021  17:35:29.307       E  43.500
4068754  NOKIA.FR  12-11-2021  17:35:29.606       E   5.008
4070173   INEA.FR  12-11-2021  17:36:31.669       E  45.000
4070454     LI.FR  12-11-2021  17:36:47.576       E  21.380
4070735     LI.FR  12-11-2021  17:37:04.985       E  21.380

[274826 rows x 5 columns]

In [9]:
values = dataset[
    (dataset["ID"] == "ABEO.FR") & 
    (dataset["TradingDate"] == "08-11-2021") &
    (dataset["TradingTime"].str.startswith("11:44:53.551"))]

values

ID             144
TradingDate    144
TradingTime    144
SecType        144
Last           144
dtype: int64

In [ ]:
cleanDataset = dataset[["ID", "SecType", "TradingDate", "TradingTime"]].drop_duplicates()
cleanDataset

               ID SecType TradingDate   TradingTime
76126    PROAC.FR       E  08-11-2021  09:00:00.178
76129      FPG.FR       E  08-11-2021  09:00:00.268
76310      ESI.FR       E  08-11-2021  09:00:00.448
76314      ETL.FR       E  08-11-2021  09:00:00.909
76322      POM.FR       E  08-11-2021  09:00:00.920
...           ...     ...         ...           ...
4068747    BLC.FR       E  12-11-2021  17:35:29.307
4068754  NOKIA.FR       E  12-11-2021  17:35:29.606
4070173   INEA.FR       E  12-11-2021  17:36:31.669
4070454     LI.FR       E  12-11-2021  17:36:47.576
4070735     LI.FR       E  12-11-2021  17:37:04.985

[256974 rows x 4 columns]